.image-size{
  width:100px;
  height:100px;
}
.containerColor{
  background-color: yellow;
  color:black;
  margin-top: 20px;
  padding:40px;
}
.modal{
  color:black;
}
h2{
  font-family: 'Saira Stencil One','Anton', sans-serif, cursive;
  font-style: italic;
  font-size:40px;
}
.portImage{
  width:400px;
  height:200px;
  margin:15px;
}
.modalImage{
  width:600px;
  height:400px;
  margin:10px;
}
.portImage:hover{  
  box-shadow: 0 0 2px 1px black;
  cursor:pointer;
}
img{
  transition: all .2s ease-in-out;
}
.portImage:hover{
  transform: scale(1.1);
}
.myImg{
  height:150px;
  width:150px;
}
.containerSpace{
  margin-top: 20px;
  padding:40px;
}
.top-space{
  padding: 30px;
}

.container-white{
  background-color: white;
  color: black;
  background: url("website/img/avatar.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:500px;
}
.skills-img{
  height:100px;
  width:90px;
}

.right{
  position: fixed;
    right:0;
    top:30%;
    font-size:50px;
}
.right-img{
  width:50px;
  height:50px;
  border-radius: 25px;
  transition:transform .8s ease-in-out;
}
.right-img:hover{
  transform:rotate(360deg);
  cursor: pointer;
}
.fa-heart{
  color:red;
}
.btn-outline-light {
	color: #fff;
	background: #0786c1;
}
.mail{
  text-transform: uppercase;
}
.mail a{
  color:white;
}